
.message-container{
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: aquamarine;
  min-width: 11rem;
  font-size: .7rem;
  border-radius: 5px;
}


.message-container p{
  margin-left: .5rem;
  text-align: left;
  font-weight: 600;
  color: beige;
}

.message-icon{
  margin-left: .5rem;
}

.copy-message-container{
  margin-top: 1.5rem;
  text-align: center;
}

/* .copy-message-container{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
} */
/*
.copy-message-container input, .copy-message-container button{
  min-height: 35px;
}

.copy-message-container input{
  max-width: 150px;
  padding: 0 1rem;
} */