form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group{
  display: flex;
  align-items: center;
}

.url-input, .button--submit{
  min-height: 35px;
}

.url-input{
  max-width: 150px;
  padding: 0 1rem;
  border: 1px solid var(--accent);
  border-radius: 5px 0 0 5px;
  background-color: transparent;
}

.url-input:focus, .url-input:focus-visible{
  outline: none;
  border-color: var(--light-accent);
}

.button--submit{
  border: none;
  border-radius: 0 5px 5px 0;
  padding: .78em 1em;
  background-color: var(--accent);
  cursor: pointer;
  color: #fff;
}

.button--submit:hover{
  background-color: var(--light-accent);
}
