#banner{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-img {
  margin-top: 3rem;
  width: 40%;
  max-width: 100%;
}


@media screen and (min-width: 1920px) {
  h1{
    font-size: 2.5rem;
  }
  .banner-img{
    width: 20%;
  }
}